PreProcessing For BERT Finetuing experiment on NER Dataset

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
from tqdm.notebook import tnrange, tqdm_notebook

# Load Data

In [2]:
data = pd.read_csv("./Data/entity-annotated-corpus/ner_dataset.csv", encoding= 'latin1')

In [3]:
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [4]:
data = data.fillna(method="ffill")

In [5]:
data['Sentence #'] = data['Sentence #'].apply(lambda x: int(x.split(': ')[-1]))

In [6]:
data[data['Sentence #']==1]

    Sentence #           Word  POS    Tag
0            1      Thousands  NNS      O
1            1             of   IN      O
2            1  demonstrators  NNS      O
3            1           have  VBP      O
4            1        marched  VBN      O
5            1        through   IN      O
6            1         London  NNP  B-geo
7            1             to   TO      O
8            1        protest   VB      O
9            1            the   DT      O
10           1            war   NN      O
11           1             in   IN      O
12           1           Iraq  NNP  B-geo
13           1            and   CC      O
14           1         demand   VB      O
15           1            the   DT      O
16           1     withdrawal   NN      O
17           1             of   IN      O
18           1        British   JJ  B-gpe
19           1         troops  NNS      O
20           1           from   IN      O
21           1           that   DT      O
22           1        country   NN      O
23           1              .    .      O

In [7]:
data['Tag'].value_counts()

O        887908
B-geo     37644
B-tim     20333
B-org     20143
I-per     17251
B-per     16990
I-org     16784
B-gpe     15870
I-geo      7414
I-tim      6528
B-art       402
B-eve       308
I-art       297
I-eve       253
B-nat       201
I-gpe       198
I-nat        51
Name: Tag, dtype: int64

In [8]:
class SentenceGetter(object):

    def __init__(self, data):
        self.n_sent = 1
        self.data = data
        self.empty = False
        agg_func = lambda s: [(w, p, t) for w, p, t in zip(s["Word"].values.tolist(),
                                                           s["POS"].values.tolist(),
                                                           s["Tag"].values.tolist())]
        self.grouped = self.data.groupby("Sentence #").apply(agg_func)
        self.sentences = [s for s in self.grouped]

    def get_next(self):
        try:
            s = self.grouped["Sentence: {}".format(self.n_sent)]
            self.n_sent += 1
            return s
        except:
            return None

In [9]:
getter = SentenceGetter(data)

In [10]:
sentences = [[word[0] for word in sentence] for sentence in getter.sentences]
sentences[0]

['Thousands',
 'of',
 'demonstrators',
 'have',
 'marched',
 'through',
 'London',
 'to',
 'protest',
 'the',
 'war',
 'in',
 'Iraq',
 'and',
 'demand',
 'the',
 'withdrawal',
 'of',
 'British',
 'troops',
 'from',
 'that',
 'country',
 '.']

In [11]:
labels = [[s[2] for s in sentence] for sentence in getter.sentences]
print(labels[0])

['O', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-geo', 'O', 'O', 'O', 'O', 'O', 'B-gpe', 'O', 'O', 'O', 'O', 'O']

In [12]:
tag_values = list(set(data["Tag"].values))
tag_values.append("PAD")
tag2idx = {t: i for i, t in enumerate(tag_values)}

In [13]:
tag_values

['I-org',
 'B-per',
 'I-art',
 'I-eve',
 'B-geo',
 'O',
 'I-gpe',
 'I-per',
 'B-nat',
 'I-nat',
 'B-eve',
 'I-tim',
 'I-geo',
 'B-org',
 'B-gpe',
 'B-tim',
 'B-art',
 'PAD']

# Load Model

In [14]:
from transformers import BertTokenizer, BertConfig
from keras.preprocessing.sequence import pad_sequences
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

In [15]:
MAX_LEN = 75
bs = 32

In [16]:
# load bert tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-cased', do_lower_case=False)

In [17]:
def tokenize_and_preserve_labels(sentence, text_labels):
    tokenized_sentence = []
    labels = []

    for word, label in zip(sentence, text_labels):

        # Tokenize the word and count # of subwords the word is broken into
        tokenized_word = tokenizer.tokenize(word)
        n_subwords = len(tokenized_word)

        # Add the tokenized word to the final tokenized word list
        tokenized_sentence.extend(tokenized_word)

        # Add the same label to the new list of labels `n_subwords` times
        labels.extend([label] * n_subwords)

    return tokenized_sentence, labels

In [18]:
tokenized_texts_and_labels = [
    tokenize_and_preserve_labels(sent, labs)
    for sent, labs in zip(sentences, labels)
]

In [19]:
tokenized_texts, labels = zip(*tokenized_texts_and_labels)

In [20]:
input_ids = pad_sequences([tokenizer.convert_tokens_to_ids(txt) for txt in tokenized_texts],
                          maxlen=MAX_LEN, dtype="long", value=0.0,
                          truncating="post", padding="post")

In [21]:
tags = pad_sequences([[tag2idx.get(l) for l in lab] for lab in labels],
                     maxlen=MAX_LEN, value=tag2idx["PAD"], padding="post",
                     dtype="long", truncating="post")

In [22]:
attention_masks = [[float(i != 0.0) for i in ii] for ii in input_ids]

In [23]:
tr_inputs, val_inputs, tr_tags, val_tags = train_test_split(input_ids, tags,
                                                            random_state=2018, test_size=0.1)
tr_masks, val_masks, _, _ = train_test_split(attention_masks, input_ids,
                                             random_state=2018, test_size=0.1)

In [24]:
# Save intermediate data
import dill as pickle
with open('./data/entity-annotated-corpus/processed_data.zkl', 'wb') as f:
    pickle.dump({
        'tr_inputs': tr_inputs,
        'val_inputs': val_inputs,
        'tr_tags': tr_tags,
        'val_tags': val_tags,
        'tr_masks': tr_masks,
        'val_masks': val_masks,
        'num_labels': len(tag2idx),
        'tag_values': tag_values
    }, f)